[project]
	description = BNU Online Judge
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yi Chao (51isoft)
[access "refs/for/refs/*"]
	read = group user/Yi Chao (51isoft)
	push = group user/Yi Chao (51isoft)
	label-Code-Review = -2..+2 group user/Yi Chao (51isoft)
	label-Verified = -1..+1 group user/Yi Chao (51isoft)
	rebase = group user/Yi Chao (51isoft)
	removeReviewer = group user/Yi Chao (51isoft)
	submit = group user/Yi Chao (51isoft)
[access "refs/heads/*"]
	read = group user/Yi Chao (51isoft)
	create = group user/Yi Chao (51isoft)
	push = +force group user/Yi Chao (51isoft)
	pushMerge = group user/Yi Chao (51isoft)
[access "refs/tags/*"]
	push = +force group user/Yi Chao (51isoft)
	pushTag = group user/Yi Chao (51isoft)
	pushSignedTag = group user/Yi Chao (51isoft)
