* {
  overflow-wrap: break-word;
}

body {
    padding-top: 75px;
    padding-bottom: 40px;
}

.jumbotron {
  position: relative;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #020031; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #020031 0%, #6d3353 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* IE10+ */
  background: linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
  color: white;
}
.jumbotron a {
  color: white;
  color: rgba(255,255,255,.5);
}
.jumbotron a:hover {
  color: white;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}


#footer {
    text-align: center;
}

@media only screen and (min-width: 1020px) {
  #newsshowdialog,#mailwindow,#newmailwindow,#showtopic {
     width:800px;
     margin-left:-400px;
  }
  #submitdialog {
     width:700px;
     margin-left:-350px;
  }
  #statusdialog,#csetdlg,#cchainfo {
     width:900px;
     margin-left:-450px;
  }
  #arrangevdialog {
     width:1000px;
     margin-left:-500px;
  }
}

.modal-body{
   max-height: 600px;
}

@media only screen and (max-height: 900px) {
  .modal-body{
     max-height: 400px;
  }
}

@media only screen and (max-height: 600px) {
  .modal-body{
     max-height: 350px;
  }
}

#statustable, #rank, #contestlist,#csettable, #maillist,#problist {
    table-layout: fixed;
}

/*#statustable td, #statustable th,
#rank td, #rank th,
#contestlist td, #contestlist th {
    text-align: center;
}*/

.basetable td, .basetable th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tcenter {
    text-align: center;
}

#showproblem #conditions div {
    text-align: center;
}


/* results */
.ac {
    color: blue !important;
    font-weight:bold;
}
.wa {color: red !important;}
.tle {color: red !important;}
.mle {color: red !important;}
.ole {color: red !important;}
.pe {color: red !important;}
.ce {color: green !important;}
.rf {color: black !important;}
.re {color: red !important;}

/* contests */
.cpublic {color:blue;}
.cprivate {color:red;}
.crunning {color:red;}
.cscheduled {color:blue;}
.cpassed {color:green;}




/* flip-scroll */
@media only screen and (max-width: 800px) {
  
    #flip-scroll .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
    #flip-scroll * html .cf { zoom: 1; }
    #flip-scroll *:first-child+html .cf { zoom: 1; }
    
    #flip-scroll table { width: 100%; border-collapse: collapse; border-spacing: 0; }
   
    #flip-scroll th,
    #flip-scroll td { margin: 0; vertical-align: top; }
    #flip-scroll th { text-align: left; }
    
    #flip-scroll table { display: block; position: relative; width: 100%; }
    #flip-scroll thead { display: block; float: left; }
    #flip-scroll tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
    #flip-scroll thead tr { display: block; }
    #flip-scroll th { display: block; text-align: right; width: 100%; }
    #flip-scroll tbody tr { display: inline-block; vertical-align: top; }
    #flip-scroll td { display: block; min-height: 1.25em; text-align: left; }
   
   
    /* sort out borders */
   
    #flip-scroll th { border-bottom: 0; border-left: 0; }
    #flip-scroll td { border-left: 0; border-right: 0; border-bottom: 0; }
    #flip-scroll tbody tr { border-left: 1px solid #babcbf; }
    #flip-scroll th:last-child,
    #flip-scroll td:last-child { border-bottom: 1px solid #babcbf; }
}


/*standing table */

#cstandingcontainer .rankcontainer {
    overflow:visible;
}

.ac_stat {
    background:#6F6 !important;
}
.notac_stat {
    background:#F55 !important;
}

.acfb_stat {
    background:#007F00 !important;
    color:#fff;
}

.normal_stat {
    background-color: #ECFFB3;
}

.trank {
    min-width:45px;
    width:5%;
}

.tname {
    min-width:100px;
    width:15%;
}

.tac {
    min-width:55px;
    width:9%;
}

.tprob {
    min-width:78px;
    width:10%;
}

.tpenal {
    min-width:80px;
    width:10%;
}

.tcid {
    min-width:50px;
    width:6%;
}

table.cstanding {
    max-width:8000px;
    font-size: 0.9em;
    table-layout: fixed;
}

table.cstanding th,table.cstanding td {
    overflow: hidden;
}

table.cstanding.visover th,table.cstanding.visover td {
    overflow: visible;
}

table.cstanding a.cha_click
{ text-decoration: underline;
  color: #444;
}

table.cstanding a.cha_click:hover
{ text-decoration: none;
  color: #444;
}


/***  noUiSlider  ***/
.noUiSlider {
  width:          100%;
  border:         1px solid #CCC;
  height:         8px;
  background:       #EEE;
  -webkit-touch-callout:  none;
}
.noUi-midBar {
  height:         100%;
  z-index:        0;
  background:       #39C;
  -webkit-touch-callout:  none;
}
.noUi-handle > div {
  position:       absolute;
  width:          16px;
  height:         16px;
  top:          -5px;
  left:         -8px;
  z-index:        5;
  border:         1px solid #CCC;
  background:       #EEE;
}
.noUi-handle > div:hover,
.noUi-handle > div.noUi-activeHandle {
  background:       #ACE;
  border-color:     #369;
}
.disabled > .noUi-midBar {
  background:       #999;
}
.disabled .noUi-handle > div {
  border-color:     #CCC;
  background:       #CCC;
}
@media (-webkit-min-device-pixel-ratio:1.2),-moz-touch-enabled,(max-device-width:1024px){
  .noUi-handle > div {
    height:       32px;
    width:        32px;
    top:        -13px;
    left:       -16px;
  }
}


/*** problem ***/
#showproblem .content-wrapper span {
  width: auto;
  float: none;
  display: inline;
  margin: auto;
}